[Unit]
Description=testd9t
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/main
Restart=always
User=testd9t
Group=testd9t
EnvironmentFile=/etc/digiconvent/env
StandardOutput=journal
StandardError=journal
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
